
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @{
        ViewBag.Title = "Create";
    }

    <h2>Create</h2>

    <form method="post" action="@Url.Action("Create")" enctype="multipart/form-data">
        <div>
            請選擇要上傳的檔案
            <input type="file" name="photo" id="photo" />
            <input type="submit" value="確定上傳" />
        </div>
    </form>

    <div>
        你上傳的檔案目前放在：
        @ViewBag.url;
    </div>div>
    </div>
</body>
</html>
